DATABASES = {
    'default': {
        'ATOMIC_REQUESTS': True,
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': "{{ awx_postgres_database }}",
        'USER': "{{ awx_postgres_username }}",
        'PASSWORD': "{{ awx_postgres_password }}",
        'HOST': "awx",
        'PORT': "{{ awx_postgres_port }}",
    }
}

BROADCAST_WEBSOCKET_SECRET = "{{ awx_secret_key | b64encode }}"